
    
        <div class="text-center w-100">
            <img src="~/layout/logo_multisearch.png" alt="">
            <div class="d-flex mt-3">
                <input type="text" class="form-control custom-input" id="search" aria-describedby="emailHelp">
                <button type="button" class="btn btn-light custom-buttom-search" onclick="pesquisar()"><i
                        class="bi bi-search"></i></button>
            </div>
        </div>
        <div class="w-100 my-3">
            <p id="searchResult" class="reset-reg">(nenhum item encontrado)</p>
        </div>


        <div class="container-datas border">
            <div class="title-box px-3 border-bottom">
                <span>Pedidos de Venda</span>
                <p id="qtd_reg_sales" class="reset-reg">(nunhum item encontrado)</p>
            </div>
            <div class="w-100 my-4">
                <div class="d-flex justify-content-around">
                    <div id="sales" class="clean w-100">
                        <p class="text-center">Nenhum item encontrado</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-datas border">
            <div class="title-box px-3 border-bottom">
                <span>Pedidos de Compra</span>
                <p id="qtd_reg_purchase" class="reset-reg">(nunhum item encontrado)</p>
            </div>
            <div class="w-100 my-4">
                <div class="d-flex justify-content-around">
                    <div id="purchase" class="clean w-100">
                        <p class="text-center">Nenhum item encontrado</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-datas border">
            <div class="title-box px-3 border-bottom">
                <span>Produtos</span>
                <p id="qtd_reg_materials" class="reset-reg">(nunhum item encontrado)</p>
            </div>
            <div class="w-100 my-4">
                <div class="d-flex justify-content-around">
                    <div id="materials" class="clean w-100">
                        <p class="text-center">Nenhum item encontrado</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-datas border">
            <div class="title-box px-3 border-bottom">
                <span>Equipamentos</span>
                <p id="qtd_reg_equipments" class="reset-reg">(nunhum item encontrado)</p>
            </div>
            <div class="w-100 my-4">
                <div class="d-flex justify-content-around">
                    <div id="equipments" class="clean w-100">
                        <p class="text-center">Nenhum item encontrado</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-datas border">
            <div class="title-box px-3 border-bottom">
                <span>Mão de obra</span>
                <p id="qtd_reg_workforce" class="reset-reg">(nunhum item encontrado)</p>
            </div>
            <div class="w-100 my-4">
                <div class="d-flex justify-content-around">
                    <div id="workforce" class="clean w-100">
                        <p class="text-center">Nenhum item encontrado</p>
                    </div>
                </div>
            </div>
        </div>

